In [68]:
import numpy as np
import pandas as pd
import re

# Leitura dos data-sets
ituporanga_nivel_df = pd.read_table('ituporanga - 29-06-2005 - 10-03-2014 - nível.txt')
taio_nivel_df = pd.read_table('taió - 29-06-2005 - 14-04-2014 - nível.txt')
rio_do_sul_nivel_df = pd.read_table('rio do sul - 29-06-2005 - 14-04-2014 - nível.txt')

ituporanga_chuva_df = pd.read_table('ituporanga - 31-07-2005 - 14-04-2014 - chuva.txt')
taio_chuva_df = pd.read_table('taió - 29-06-2005 - 14-04-2014 - chuva.txt')

In [69]:
# Transforma os data-sets em data-frames legíveis
default_nivel_column_name = '.........Data e Hora..........Nível (cm)'
default_chuva_column_name = '.........Data e Hora..........Chuva (mm)'
whitespace_regex = ' +'

ituporanga_nivel_division = ituporanga_nivel_df[default_nivel_column_name].str.split(whitespace_regex)
taio_nivel_division = taio_nivel_df[default_nivel_column_name].str.split(whitespace_regex)
rio_do_sul_nivel_division = rio_do_sul_nivel_df[default_nivel_column_name].str.split(whitespace_regex)

ituporanga_nivel_df['data'] = ituporanga_nivel_division.str.get(1)
taio_nivel_df['data'] = taio_nivel_division.str.get(1)
rio_do_sul_nivel_df['data'] = rio_do_sul_nivel_division.str.get(1)

ituporanga_nivel_df['hora'] = ituporanga_nivel_division.str.get(2)
taio_nivel_df['hora'] = taio_nivel_division.str.get(2)
rio_do_sul_nivel_df['hora'] = rio_do_sul_nivel_division.str.get(2)

ituporanga_nivel_df['data/hora'] = ituporanga_nivel_df['data'] + ' ' + ituporanga_nivel_df['hora']
taio_nivel_df['data/hora'] = taio_nivel_df['data'] + ' ' + taio_nivel_df['hora']
rio_do_sul_nivel_df['data/hora'] = rio_do_sul_nivel_df['data'] + ' ' + rio_do_sul_nivel_df['hora']

ituporanga_nivel_df['nivel/ituporanga'] = pd.to_numeric(ituporanga_nivel_division.str.get(3), errors='coerce')
taio_nivel_df['nivel/taio'] = pd.to_numeric(taio_nivel_division.str.get(3), errors='coerce')
rio_do_sul_nivel_df['nivel/rio do sul'] = pd.to_numeric(rio_do_sul_nivel_division.str.get(3), errors='coerce')

ituporanga_nivel_df.drop(default_nivel_column_name, inplace=True, axis=1)
taio_nivel_df.drop(default_nivel_column_name, inplace=True, axis=1)
rio_do_sul_nivel_df.drop(default_nivel_column_name, inplace=True, axis=1)

ituporanga_chuva_division = ituporanga_chuva_df[default_chuva_column_name].str.split(whitespace_regex)
taio_chuva_division = taio_chuva_df[default_chuva_column_name].str.split(whitespace_regex)

ituporanga_chuva_df['data'] = ituporanga_chuva_division.str.get(1)
taio_chuva_df['data'] = taio_chuva_division.str.get(1)

ituporanga_chuva_df['hora'] = ituporanga_chuva_division.str.get(2)
taio_chuva_df['hora'] = taio_chuva_division.str.get(2)

ituporanga_chuva_df['data/hora'] = ituporanga_chuva_df['data'] + ' ' + ituporanga_chuva_df['hora']
taio_chuva_df['data/hora'] = taio_chuva_df['data'] + ' ' + taio_chuva_df['hora']

ituporanga_chuva_df['chuva/ituporanga'] = pd.to_numeric(ituporanga_chuva_division.str.get(3), errors='coerce')
taio_chuva_df['chuva/taio'] = pd.to_numeric(taio_chuva_division.str.get(3), errors='coerce')

ituporanga_chuva_df.drop(default_chuva_column_name, inplace=True, axis=1)
taio_chuva_df.drop(default_chuva_column_name, inplace=True, axis=1)

merged_df = ituporanga_nivel_df.merge(taio_nivel_df, how='outer')
merged_df = merged_df.merge(rio_do_sul_nivel_df, how='outer')
merged_df = merged_df.merge(ituporanga_chuva_df, how='outer')
merged_df = merged_df.merge(taio_chuva_df, how='outer')

merged_df.head(30)

,data,hora,data/hora,nivel/ituporanga,nivel/taio,nivel/rio do sul,chuva/ituporanga,chuva/taio
0,29/06/2005,00:00:00,29/06/2005 00:00:00,NaN,NaN,NaN,NaN,NaN
1,29/06/2005,01:00:00,29/06/2005 01:00:00,NaN,NaN,NaN,NaN,NaN
2,29/06/2005,02:00:00,29/06/2005 02:00:00,NaN,NaN,NaN,NaN,NaN
3,29/06/2005,06:00:00,29/06/2005 06:00:00,26.0,NaN,106.0,NaN,0.0
4,29/06/2005,07:00:00,29/06/2005 07:00:00,27.0,NaN,105.0,NaN,0.0
5,29/06/2005,08:00:00,29/06/2005 08:00:00,26.0,NaN,106.0,NaN,0.0
6,29/06/2005,09:00:00,29/06/2005 09:00:00,27.0,NaN,105.0,NaN,0.0
7,29/06/2005,10:00:00,29/06/2005 10:00:00,26.0,NaN,106.0,NaN,0.0
8,29/06/2005,11:00:00,29/06/2005 11:00:00,27.0,110.0,105.0,NaN,0.0
9,29/06/2005,12:00:00,29/06/2005 12:00:00,30.0,NaN,105.0,NaN,0.0
10,29/06/2005,13:00:00,29/06/2005 13:00:00,39.0,109.0,106.0,NaN,0.0
11,29/06/2005,14:00:00,29/06/2005 14:00:00,59.0,NaN,107.0,NaN,0.0
12,29/06/2005,15:00:00,29/06/2005 15:00:00,82.0,109.0,106.0,NaN,0.0
13,29/06/2005,17:00:00,29/06/2005 17:00:00,26.0,NaN,105.0,NaN,0.0
14,29/06/2005,18:00:00,29/06/2005 18:00:00,27.0,NaN,106.0,NaN,0.0
15,29/06/2005,19:00:00,29/06/2005 19:00:00,30.0,NaN,107.0,NaN,0.0
16,29/06/2005,20:00:00,29/06/2005 20:00:00,39.0,109.0,108.0,NaN,0.0
17,29/06/2005,21:00:00,29/06/2005 21:00:00,59.0,NaN,105.0,NaN,0.0
18,29/06/2005,22:00:00,29/06/2005 22:00:00,82.0,109.0,106.0,NaN,0.0
19,29/06/2005,23:00:00,29/06/2005 23:00:00,59.0,NaN,105.0,NaN,0.0
20,30/06/2005,00:00:00,30/06/2005 00:00:00,82.0,109.0,105.0,NaN,0.0
21,30/06/2005,06:00:00,30/06/2005 06:00:00,26.0,NaN,106.0,NaN,0.0
22,30/06/2005,07:00:00,30/06/2005 07:00:00,26.0,NaN,106.0,NaN,0.0
23,30/06/2005,08:00:00,30/06/2005 08:00:00,27.0,NaN,105.0,NaN,0.0
24,30/06/2005,09:00:00,30/06/2005 09:00:00,30.0,109.0,106.0,NaN,0.0
25,30/06/2005,10:00:00,30/06/2005 10:00:00,39.0,NaN,105.0,NaN,0.0
26,30/06/2005,11:00:00,30/06/2005 11:00:00,59.0,109.0,106.0,NaN,0.0
27,30/06/2005,12:00:00,30/06/2005 12:00:00,82.0,104.0,105.0,NaN,0.0
28,30/06/2005,16:00:00,30/06/2005 16:00:00,26.0,NaN,105.0,NaN,0.0
29,30/06/2005,17:00:00,30/06/2005 17:00:00,27.0,NaN,105.0,NaN,0.0