In [37]:
import numpy as np
import pandas as pd
import re

from functools import reduce
from sklearn.linear_model import LinearRegression

# Leitura dos data-sets
ituporanga_nivel_df = pd.read_table('ituporanga - 29-06-2005 - 10-03-2014 - nível.txt')
taio_nivel_df = pd.read_table('taió - 29-06-2005 - 14-04-2014 - nível.txt')
rio_do_sul_nivel_df = pd.read_table('rio do sul - 29-06-2005 - 14-04-2014 - nível.txt')

ituporanga_chuva_df = pd.read_table('ituporanga - 31-07-2005 - 14-04-2014 - chuva.txt')
taio_chuva_df = pd.read_table('taió - 29-06-2005 - 14-04-2014 - chuva.txt')

In [38]:
# Transforma os data-sets em data-frames legíveis
default_nivel_column_name = '.........Data e Hora..........Nível (cm)'
default_chuva_column_name = '.........Data e Hora..........Chuva (mm)'
whitespace_regex = ' +'

ituporanga_nivel_division = ituporanga_nivel_df[default_nivel_column_name].str.split(whitespace_regex)
taio_nivel_division = taio_nivel_df[default_nivel_column_name].str.split(whitespace_regex)
rio_do_sul_nivel_division = rio_do_sul_nivel_df[default_nivel_column_name].str.split(whitespace_regex)

ituporanga_nivel_df['data'] = ituporanga_nivel_division.str.get(1)
taio_nivel_df['data'] = taio_nivel_division.str.get(1)
rio_do_sul_nivel_df['data'] = rio_do_sul_nivel_division.str.get(1)

ituporanga_nivel_df['hora'] = ituporanga_nivel_division.str.get(2)
taio_nivel_df['hora'] = taio_nivel_division.str.get(2)
rio_do_sul_nivel_df['hora'] = rio_do_sul_nivel_division.str.get(2)

ituporanga_nivel_df['data/hora'] = ituporanga_nivel_df['data'] + ' ' + ituporanga_nivel_df['hora']
taio_nivel_df['data/hora'] = taio_nivel_df['data'] + ' ' + taio_nivel_df['hora']
rio_do_sul_nivel_df['data/hora'] = rio_do_sul_nivel_df['data'] + ' ' + rio_do_sul_nivel_df['hora']

ituporanga_nivel_df['nivel/ituporanga'] = pd.to_numeric(ituporanga_nivel_division.str.get(3), errors='coerce')
taio_nivel_df['nivel/taio'] = pd.to_numeric(taio_nivel_division.str.get(3), errors='coerce')
rio_do_sul_nivel_df['nivel/rio do sul'] = pd.to_numeric(rio_do_sul_nivel_division.str.get(3), errors='coerce')

ituporanga_nivel_df.drop(default_nivel_column_name, inplace=True, axis=1)
taio_nivel_df.drop(default_nivel_column_name, inplace=True, axis=1)
rio_do_sul_nivel_df.drop(default_nivel_column_name, inplace=True, axis=1)

ituporanga_chuva_division = ituporanga_chuva_df[default_chuva_column_name].str.split(whitespace_regex)
taio_chuva_division = taio_chuva_df[default_chuva_column_name].str.split(whitespace_regex)

ituporanga_chuva_df['data'] = ituporanga_chuva_division.str.get(1)
taio_chuva_df['data'] = taio_chuva_division.str.get(1)

ituporanga_chuva_df['hora'] = ituporanga_chuva_division.str.get(2)
taio_chuva_df['hora'] = taio_chuva_division.str.get(2)

ituporanga_chuva_df['data/hora'] = ituporanga_chuva_df['data'] + ' ' + ituporanga_chuva_df['hora']
taio_chuva_df['data/hora'] = taio_chuva_df['data'] + ' ' + taio_chuva_df['hora']

ituporanga_chuva_df['chuva/ituporanga'] = pd.to_numeric(ituporanga_chuva_division.str.get(3), errors='coerce')
taio_chuva_df['chuva/taio'] = pd.to_numeric(taio_chuva_division.str.get(3), errors='coerce')

ituporanga_chuva_df.drop(default_chuva_column_name, inplace=True, axis=1)
taio_chuva_df.drop(default_chuva_column_name, inplace=True, axis=1)

dfs = [taio_nivel_df, ituporanga_nivel_df, rio_do_sul_nivel_df, ituporanga_chuva_df, taio_chuva_df]
df_merge_cb = lambda left, right: pd.merge(left, right, how='outer')
df_merged = reduce(df_merge_cb, dfs).fillna(np.nan)

# df_merged.to_csv('./data.csv')
df_merged.tail()

,data,hora,data/hora,nivel/taio,nivel/ituporanga,nivel/rio do sul,chuva/ituporanga,chuva/taio
138000,26/03/2014,20:15:00,26/03/2014 20:15:00,NaN,NaN,NaN,0.0,NaN
138001,26/03/2014,20:30:00,26/03/2014 20:30:00,NaN,NaN,NaN,0.0,NaN
138002,26/03/2014,20:45:00,26/03/2014 20:45:00,NaN,NaN,NaN,0.0,NaN
138003,26/03/2014,21:00:00,26/03/2014 21:00:00,NaN,NaN,NaN,0.0,NaN
138004,13:00:00,,13:00:00,NaN,NaN,NaN,NaN,NaN